.panda-bg-info {
    background-color: #fceae8;
}

.categories img {
    width: 100px;
}

.convention-btn {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: black;
    /* border: none; */
    border-radius: 8px;
    padding: 9px 25px;
    width: 150px;
    /* justify-content: center; */
    /* align-items: center; */

}

.carousel-item {
    height: 100vh;
    min-height: 100px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    align-items: center;
}